<div class="card">
    {{#each this}}
    <section class="comment">
        <div class="meta card-header">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text card-body">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>