<section>
    <div>
        <h2 class="card-header">Create New Post</h2>
        <form class="new-post-form">
            <div>
                <label for="post-title">Title:</label>
                <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
                <label for="post-text">Post Content:</label>
                <textarea id="post-content" name="post-content"></textarea>
            </div>
            <button class="nav-item" type="submit" class="btn btn-no-style">Create</button>
        </form>
    </div>
</section>

<section class="card">
     <div>
        <h2 class="card-header">About Me:</h2>
        <p class="card-body">{{> users }}</p>
    </div>
</section>

{{#if posts.length}}
<section class="card">
    <h2 class="card-header">Your Posts:</h2>
    <ol class="list-group">
        {{#each posts as |post|}}
        <li class="list-group-item card-body">
            <p>{{> posts-info post}}</p>
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>