<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
         <label for="github-signup">GitHub:</label>
         <input type="text" id="github-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>

<a href="/login">Need To Login Instead?</a>

<script src="/javascript/signup.js"></script>